.showContainer{
     
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.showitms{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    margin: 5px;
    margin-bottom: 5px;
    
}

.buttonDiv{

}